.idea/
.env
__pycache__
venv
/venv/Lib/site-packages
.venv/
.idea
*.iml
*.xml
.DS_Store
.python-version
worker/.dev.vars
worker/.env.dev
worker/.env.prod
worker/node_modules/
worker/.wrangler/
worker/coverage/
