aiocache==0.12.2
APScheduler==3.9.1
ballpark @ git+https://github.com/Mee6/python-ballpark.git
chat-exporter==2.8.1
coc.py==3.9.0
disnake @ git+https://github.com/MagicTheDev/disnake.git
disnake-ext-fluent @ git+https://github.com/MagicTheDev/disnake-ext-fluent.git
dnspython==2.6.1
docker==7.1.0
emoji==2.14.0
expiring-dict==1.1.0
fastapi==0.115.6
fluent.runtime==0.4.0
imagehash==4.3.1
ipython==8.13.0
kaleido==0.2.1
loguru==0.7.2
matplotlib==3.10.0
meilisearch-python-sdk==3.4.0
motor==3.5.1
msgspec==0.18.6
numerize==0.12
numpy==1.26.4
openai==0.27.8
openpyxl==3.1.2
orjson==3.10.0
pandas==2.2.3
pendulum==3.0.0
plotly==5.14.1
pymitter==1.0.0
pymongo==4.10.1
python-dateutil==2.8.2
python-dotenv==0.19.2
python-snappy==0.6.1
pytz==2021.3
redis==4.6.0
sentry_sdk==2.19.2
uvicorn==0.34.0
Wand==0.6.7
websockets==14.1
XlsxWriter==3.0.3