aiofiles==0.6.0
disnake==2.7.0
motor==3.1.2
python-dotenv==0.19.2
pytz==2021.3
python-dateutil==2.8.2
APScheduler==3.9.1
websockets==10.3
orjson==3.7.12
pymitter==0.4.0
-e git+https://github.com/MagicTheDev/coc.py.git#egg=coc.py
dnspython==2.1.0
emoji==1.6.3
bs4==0.0.1
chat-exporter @ git+https://github.com/MagicTheDev/DiscordChatExporterPy@42ff2ae12628e62ace81e7f69205729c115a5ba6
beautifulsoup4==4.10.0
matplotlib==3.5.1
numerize==0.12
pandas==1.5.0
scipy==1.9.3
XlsxWriter==3.0.3
DiscordLevelingCard @ git+https://github.com/MagicTheDev/DiscordLevelingCard.git#egg=DiscordLEvelingCard
plotly==5.14.1
ipython==8.13.2
datawrapper==0.5
msgspec==0.15.1
openpyxl==3.1.2


Wand==0.6.7
asyncpraw==7.5.0
