git+https://github.com/MagicTheDev/coc.py.git
aiofiles==0.6.0
APScheduler==3.9.1
asyncpraw==7.5.0
ballpark==1.4.0
beautifulsoup4==4.10.0
bs4==0.0.1
chat-exporter @ git+https://github.com/MagicTheDev/DiscordChatExporterPy@42ff2ae12628e62ace81e7f69205729c115a5ba6
datawrapper==0.5
DiscordLevelingCard @ git+https://github.com/MagicTheDev/DiscordLevelingCard.git#egg=DiscordLEvelingCard
disnake==2.7.0
dnspython==2.1.0
emoji==1.6.3
ipython==8.13.2
matplotlib==3.7.1
motor==3.1.2
msgspec==0.15.1
numerize==0.12
openai==0.27.7
openpyxl==3.1.2
orjson==3.9.0
pandas==1.5.0
plotly==5.14.1
pymitter==0.4.0
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
scipy==1.9.3
sentry_sdk==1.25.0
stringcase==1.2.0
Wand==0.6.7
websockets==10.3
XlsxWriter==3.0.3